@font-face {
    font-family: 'Pangram NeueLight';
    src: url('./assets/PPNeueMachina-InktrapLight.otf') format('opentype');
    font-weight: 100;
  }

 @font-face {
    font-family: 'Pangram Neue';
    src: url('./assets/PPNeueMachina-InktrapRegular.otf') format('opentype');
    font-weight: 100;
  }
 *{
  border: 1px solid blue;
  box-sizing: border-box;
 }
  h1{
    top: 20vh;
    font-family: 'Pangram Neue', Times;
    margin: 20px auto;
    width: 50vw;
  }

  body {

     max-width: 1200px;
     padding: 0%;
     margin: 0;
     /* margin-top: 4%; */
     height: 100%;
     color: white;
     display: block;
     box-sizing: border-box; /* The box border applies to the inside of the div and not to the outside */
     font-family: 'Pangram Neue', Times;
     /*background-image: url('./assets/images/homepage.jpg');
     background-repeat: no-repeat;*/
     background-color: black;
     background-size: 100%;
     
  }
#special{
  bottom: 150px !important;
  left: 45%;
}
  p{
    font-family: 'Pangram Neue', Times;
    font-size:24px;
    color: #a1a0ba;
    margin: 20px auto;
    width: 50vw;
    justify-content: center;
  }

  a{
    font-family: 'Pangram Neue', Times;
    font-size:24px;
    color: white;
    margin: 20px auto;
    width: 50vw;
  }

  a:hover {
    color: aqua;
  }

  button {
    font-family: 'Pangram Neue', Times;
    font-style: italic;
    color: white;
    border-radius: 15px;
    background-color: #628494;
  }

  input[type="radio"] {
    /* Hide the default radio button */
    opacity: 0.5;
    position: relative;
    height: fit-content;

  }

  input[type="radio"] + label {
    /* Custom styling for the radio button */
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    height: fit-content;
  }

  input[type="radio"]:checked + label {
    /* Styling for the checked radio button */
    background-color: #65a4b5;
    color: #fff;
  }

  #home {
    width: 100vw;
    height : 100vh;
    object-fit: cover;
    /* position: fixed; */
    top:0%;
    left:0%;
    z-index: -1;
  }

  #resultimg{
    margin: 20px auto;
    object-position:center;
    height: 80%;
    margin-left: 20%;
  }

  #resulttext{
    color: #fff;
    margin-left: 65%;
  }

  #explanation{
    color: #fff;
  }

  form{
    margin: 20px auto;
    width: 50vw; 
  }

  section {
    position: relative;
    width: 100%;
    /* height: 100%; */
    height: fit-content;
    min-height: 100vh;
  }

  section:after {
    position: relative;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%;
    /* background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%); */
    /* background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%); */
  }

  .scroll a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    letter-spacing: .1em;
    transition: opacity .3s;
  }

  .scroll a:hover {
    opacity: .5;
  }

  section a {
    /* padding-top: 60px; */
  }
  section a span {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    /* margin-left: -12px; */
    border-left: 8px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb01 2s infinite;
    animation: sdb01 2s infinite;
    box-sizing: border-box;
  }
#resultButton{
  margin-left: 50%;
  transform: translate(-50%);

}
form{
  display: flex;
  flex-direction: column;
}
  @-webkit-keyframes sdb01 {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
    }
    20% {
      -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
    }
  }
  @keyframes sdb01 {
    0% {
      transform: rotate(-45deg) translate(0, 0);
    }
    20% {
      transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
      transform: rotate(-45deg) translate(0, 0);
    }
  }

